<div class="jumbotron my-5">
	<h1 class="display-4">Events Management(EM) </h1>

	<p class="btn ">
</p>
<button type="button" class="btn btn-primary btn-lg btn-block">	
	<%= link_to 'Create a New Event', new_event_path, class:"text-white" %>
</button>

<button type="button" class="btn btn-primary btn-lg btn-block">	
	<%= link_to 'View All Events', events_path, class:"text-white" %>

</button>
</div>
