<div class="jumbotron">
	<h1 class="display-4">Sign Up </h1>
</div>


<%= form_for(:user, url: users_path, role: "form") do |f| %>
    <div class="form-group row ">
      <div class="col-sm-2"></div>
    <div class="control-label col-sm-2">
      <%= f.label :Username %>
    </div>
    <div class="col-sm-5">
      <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
    </div>
    <div class="col-xs-3 ml-3">
      <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>