<div class="col-4">
	<div class="card my-3">
	<img src="https://sound2kill4.com/wp-content/uploads/2016/11/events.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title"><%= event.title %></h5>
		<p class="card-text"><%= event.description %></p>
	</div>
</div>
</div>